/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 22 version
*/

body {
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: rgba(128, 128, 128, 0.5);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4rem;
  margin: 12px;
}

#outer-div {
  display: grid;
  width: 800px;
  height: 800px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-self: center;
  filter: drop-shadow(0 0 0.5rem black);
}

#outer-div > div {
  width: 100px;
  height: 100px;
}

#outer-div > div > div {
  color: #808080;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img {
  max-width: 60px;
}

#outer-div > div > div > p {
  width: 20px;
  height: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

form {
  margin: 24px;
}

button {
  cursor: pointer;
  border: 2px solid black;
  font-size: 1rem;
  background-color: white;
  border-radius: 24px;
  padding: 12px;
}

#clear-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

#path-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: red;
  font-weight: 300;
  text-align: center;
  margin: 12px;
}

@media (max-width: 800px) and (min-width: 601px) {
  #outer-div {
    width: 600px;
    height: 600px;
  }

  #outer-div > div {
    width: 75px;
    height: 75px;
  }

  #outer-div > div > div {
    width: 75px;
    height: 75px;
  }

  .img {
    width: 30px;
  }

  #outer-div > div > div > p {
    font-size: 1.5rem;
  }

  #path-text {
    font-size: 1.5rem;
    margin: 24px 12px;
  }
}

@media (max-width: 600px) and (min-width: 401px) {
  #outer-div {
    width: 400px;
    height: 400px;
  }

  #outer-div > div {
    width: 50px;
    height: 50px;
  }

  #outer-div > div > div {
    width: 50px;
    height: 50px;
  }

  .img {
    width: 30px;
  }

  #outer-div > div > div > p {
    font-size: 1rem;
  }

  #path-text {
    font-size: 1.25rem;
    margin: 24px 12px;
  }
}

@media (max-width: 400px) {
  #outer-div {
    width: 320px;
    height: 320px;
  }

  #outer-div > div {
    width: 40px;
    height: 40px;
  }

  #outer-div > div > div {
    width: 40px;
    height: 40px;
  }

  .img {
    width: 24px;
  }

  #outer-div > div > div > p {
    font-size: 0.8rem;
  }

  #path-text {
    font-size: 1.25rem;
    margin: 24px 12px;
  }
}
