/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 22 version
*/

body {
  margin: 0px;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: white;
  padding: 24px;
  color: black;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 18px;
}

#title {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#outer-div {
  display: grid;
  width: 680px;
  height: 680px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-self: center;
  filter: drop-shadow(0 0 0.2rem black);
}

#outer-div > div {
  width: 85px;
  height: 85px;
}

#outer-div > div > div {
  color: #808080;
  border: none;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img {
  max-width: 36px;
}

#outer-div > div > div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
  transition: background-color 0.25s ease;
}

#outer-div > div > div > p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

form {
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  border: none;
  background-color: white;
  padding: 12px;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

button:hover {
  background-color: rgba(225, 0, 0, 0.9);
  color: white;
}

#clear-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#path-text,
#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 300;
  text-align: center;
  margin: 12px 12px;
  max-width: 680px;
  text-align: center;
}

#path-text {
  font-size: 2.25rem;
}

#instructions {
  font-size: 1.25rem;
}

#path-text:empty,
#instructions:empty {
  padding: 0;
  margin: 0;
}

#path-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media (max-width: 800px) and (min-width: 601px) {
  body {
    padding: 18px;
  }

  #container {
    max-width: 560px;
  }

  #outer-div {
    width: 560px;
    height: 560px;
  }

  #outer-div > div {
    width: 70px;
    height: 70px;
  }

  #outer-div > div > div {
    width: 70px;
    height: 70px;
  }

  .img {
    width: 25px;
  }

  #outer-div > div > div > p {
    font-size: 1.5rem;
  }

  #path-text,
  #instructions {
    margin: 12px 12px;
    max-width: 560px;
  }

  #path-text {
    font-size: 2rem;
  }

  #instructions {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) and (min-width: 401px) {
  body {
    padding: 12px;
  }

  #title {
    font-size: 2rem;
  }

  #container {
    max-width: 360px;
  }

  #outer-div {
    width: 360px;
    height: 360px;
  }

  #outer-div > div {
    width: 45px;
    height: 45px;
  }

  #outer-div > div > div {
    width: 45px;
    height: 45px;
  }

  .img {
    width: 16px;
  }

  #outer-div > div > div > p {
    font-size: 1rem;
  }

  #path-text,
  #instructions {
    margin: 12px 12px;
    max-width: 360px;
  }

  #path-text {
    font-size: 1.5rem;
  }

  #instructions {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  body {
    padding: 12px;
  }

  #title {
    font-size: 2rem;
  }

  #container {
    max-width: 280px;
  }

  #outer-div {
    width: 280px;
    height: 280px;
  }

  #outer-div > div {
    width: 35px;
    height: 35px;
  }

  #outer-div > div > div {
    width: 35px;
    height: 35px;
  }

  .img {
    width: 16px;
  }

  #outer-div > div > div > p {
    font-size: 0.8rem;
  }

  #path-text,
  #instructions {
    margin: 12px 12px;
    max-width: 280px;
  }

  #path-text {
    font-size: 1.25rem;
  }

  #instructions {
    font-size: 1rem;
  }
}
